body {
	margin:0px;
	padding:0px;
	font-family: 'Rubik', sans-serif;
	}

.desktop-only{
    display: none;
}
.desktop-hide{
    display: block;
}
.leftcontent{
	position:relative;
	width: 94%;
	border: none;
    padding:3%;
	}
	
.rightcontent{
    position:relative;
    width: 94%;
    border: none;
    padding:3%;
    text-align:center;
	}
	
.rightcontent iframe {
	width: 100%;
	scrolling: auto;
	border: none;
	
	}
	
.h1 {
	font-family: 'Lobster', cursive;
	font-size:26px;
	font-weight:200;
	color: #1d2570;
	border-bottom:double #12c9b1 5px;
	margin-top:20px;
	padding-bottom: 5px;
	}

.sub{
/*	font-family: 'Great Vibes', cursive;*/

	font-family: 'Kaushan Script', cursive;

	font-size:22px;
	font-weight:700;
	color: #b93039;
	border-bottom:ridge #3388d7 1px;
	margin-top:20px;
	margin-bottom:20px;
	}

#job-description{
	font-family: 'Lobster', cursive;
	font-size:18px;
	font-weight:normal;
	color: #299056;
}
h5{
	
	font-family: 'Rubik', sans-serif;
	font-size:14px;
	font-weight:normal;
	color: #dc5e0f;
}


.links{
/*	border-bottom:dotted #b93039 1px;*/
	margin-top:20px;
	}
	
p {
	font-family:Oxygen, "Roboto Light", Arial, Helvetica, "Gill Sans", "Open Sans";
	font-size:12px;
	font-weight:400;
	line-height: 1.7em;
	margin-top:0px;
	margin-bottom:1.3em;
	letter-spacing: .05em;
}

h2 {
	font-family:Oxygen, "Roboto Light", Arial, Helvetica, "Gill Sans", "Open Sans";
	font-size:13px;
	font-weight:700;
	letter-spacing: .05em;
	line-height: 1.7em;
	margin-top:0px;
	margin-bottom:1.3em;
}
	
ul{
	padding:0;
    margin:0;
	font-family:Oxygen, "Roboto Light", Arial, Helvetica, "Gill Sans", "Open Sans";
	font-size:11px;
	font-weight:400;
	line-height: 2em;
	width:100%;
	overflow:hidden;
	padding-bottom:20px;
	list-style-type: none;
	
}

li { 
	background-image: url('../../assets/images/bullet.png');
    background-repeat: no-repeat;
    background-position: 0px 7px; 
	padding-left: 14px;
	font-family: 'Rubik', sans-serif;
}

li a { 
	color:#333333;
	text-decoration: none;
}

li a:hover { 
	color:#299056;
	border-bottom:dotted #215df3 1px;
	font-size: 12px;
}

.mobile-menu select{
    width: 100%;
}
@media (min-width: 992px){
    .leftcontent{
        position:absolute;
        width:200px;
        min-width:150px;
        border-right:solid #cccccc 1px;
        padding:20px;
    }

    .rightcontent{
        position:absolute;
        left:260px;
        right: 20px;
        margin-top:0px;
        padding:0;
        /*border-left:solid #cccccc 1px;*/
        float:right;
        width:auto;
    }
    .desktop-only{
        display: block;
    }
    .desktop-hide{
        display: none;
    }
}